<div class="container">
  <div class="row">
    <div class="m-auto col-lg-5 my-4">
      <div class="fs-2 d-flex justify-content-center align-items-center" (click)="playAudio()">
        <span class="text-center text-white justify-content-center align-items-center">
          <i  *ngIf="!audioTocando" class="fa-solid fa-play m-auto"></i>
          <i  *ngIf="audioTocando" class="fa-solid fa-pause m-auto"></i>
        </span>
        <span class="ms-2 fs-6 text-white">
          Genshin Impact : Night theme OST ♬
        </span> 
      </div>
      <div class="form-floating d-flex justify-content-center">
        <input [(ngModel)]="txtFiltro" (ngModelChange)="onInputChange($event)" type="search"
          class="form-control form-control-sm rounded-pill w-100 " id="floatingInput"
          placeholder="Pesquise por nome, tipo de arma ou elemento">
        <label for="floatingInput">Pesquise por algo</label>
      </div>

    </div>
  </div>
  <section class="row align-items-center justify-content-center">
    <app-character-info class="col-auto" *ngFor="let personagem of personagensAtivos" [personagem]="personagem">
    </app-character-info>
  </section>
</div>
